.modal
{
	max-height: 100%;
	overflow-y: auto;
}

#txt
{
	border-radius: 25px;
}

#categoriesContainer
{
	margin-bottom: -100px;
}

#btnSignup
{
	size: 10px;
}

#formEditProf
{
	margin-left: 200px;
}

#editProfBody
{
	background-color:#FBFCFC;
}

table
{
	counter-reset: tableCount;
}

.counterCell:before
{
	content: counter(tableCount);
	counter-increment: tableCount;
}

.viewInfo:hover
{
	text-decoration: underline;
}

.deleteIcon
{
	font-size: 30px;
	background-color: #EE4141;
}

.deleteIcon:hover
{
	font-size: 35px;
}