.modal
{
	max-height: 100%;
	overflow-y: auto;
}

#txt
{
	border-radius: 25px;
}

#categoriesContainer
{
	margin-bottom: -100px;
}

#btnSignup
{
	size: 10px;
}

#formEditProf
{
	margin-left: 200px;
}

#editProfBody
{
	background-color:#FBFCFC;
}

table
{
	counter-reset: tableCount;
}

.counterCell:before
{
	content: counter(tableCount);
	counter-increment: tableCount;
}

.viewInfo:hover
{
	text-decoration: underline;
}

.deleteIcon
{
	font-size: 20px;
	color: #CE4907;
	border-radius: 20px;
}

.deleteIcon:hover
{
	background-color: #EE4141;
	color: white;
}

.btnConfirm
{
	color: #157106;
	border-radius: 20px;
}

.btnConfirm:hover
{
	background-color: #71D434;
	color: white;
}

.invoice-head td {
  padding: 0 8px;
}
.container {
  padding-top:30px;
}
.invoice-body{
  background-color:transparent;
}
.invoice-thank{
  margin-top: 60px;
  padding: 5px;
}
address{
  margin-top:15px;
}